.hero-image-text figcaption {
  background-color: purple;
  padding: 10px;
  border-radius: 20px;
}

.p-w-r .pr-snippet-stars-container .pr-star-v4::before,
.p-w-r .pr-snippet-stars .pr-star-v4::before,
.p-w-r .pr-review .pr-star-v4::before {
  color: #3b84c8;
}
