.home .homepage-2020-hero {
  margin-bottom: 48px;
  bacgkround: orange !important;
}
#desktop-nav-banner {
    align-items: center;
    display: flex;
    justify-content: center;
    background: fuchsia;
}
